{% extends 'base.html.twig' %}

{% block title %}Hello ReponseController!{% endblock %}

{% block body %}
<nav>
    <a href="#symfony">SYMFONY</a>
    <a href="#js">JS</a>
    <a href="#">GUITAR</a>
    <div id="indicator"></div>
  </nav>


    {% include "reponse/_detail.html.twig" %}


    
{% endblock %}
