{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<!-- Bootstrap CSS -->



    <!-- Quiz Starts Here -->
    <section id="theQuiz">
        <form id="quizForm" onsubmit="return false;">
            <h2>HTML Quiz:</h2>

            <div id="steps" style="text-align:center;">
                <!-- Steps will be shown as per questions length -->
            </div>

            <hr />
            <!-- One "tab" for each step in the form: -->
            <div id="tab">
                <p id="que">---Question---</p>
                <hr />
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="opt1"
                        name="q"
                        class="custom-control-input"
                        onclick="enableBtn(this)"
                        value="1"
                    />
                    <label
                        class="custom-control-label"
                        onclick="var id = this.previousElementSibling.id; this.setAttribute('for', id)"
                        >---Option 1---</label
                    >
                </div>
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="opt2"
                        name="q"
                        class="custom-control-input"
                        onclick="enableBtn(this)"
                        value="2"
                    />
                    <label
                        class="custom-control-label"
                        onclick="var id = this.previousElementSibling.id; this.setAttribute('for', id)"
                        >---Option 2---</label
                    >
                </div>
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="opt3"
                        name="q"
                        class="custom-control-input"
                        onclick="enableBtn(this)"
                        value="3"
                    />
                    <label
                        class="custom-control-label"
                        onclick="var id = this.previousElementSibling.id; this.setAttribute('for', id)"
                        >---Option 3---</label
                    >
                </div>
                <div class="custom-control custom-radio">
                    <input
                        type="radio"
                        id="opt4"
                        name="q"
                        class="custom-control-input"
                        onclick="enableBtn(this)"
                        value="4"
                    />
                    <label
                        class="custom-control-label"
                        onclick="var id = this.previousElementSibling.id; this.setAttribute('for', id)"
                        >---Option 4---</label
                    >
                </div>
            </div>

            <div style="overflow:auto;">
                <div style="float:right;">
                    <button
                        type="button"
                        disabled="disabled"
                        class="btn btn-info mb-2"
                        id="next-button"
                        onclick="next();"
                    >
                        Next
                    </button>
                </div>
            </div>
        </form>
    </section>

    <!-- The Result -->
    <section id="theResult">
        <div id="resultCircle">
            Calculating Your Result...
        </div>
        <!-- Result Circle End -->
        <br />
        <!-- <h1>Congrats! Your Are Passed</h1> -->
        <h2 id="resultFb" style="font-weight: bold;"></h2>
        <h3 id="correctAns"></h3>
        <hr />
        <button class="btn btn-info" onclick="retakeQuiz();">
            Retake Quiz
        </button>
    </section>
</div>
<!-- Container End -->
<button
    class="btn btn-danger"
    style="position: absolute;bottom: 90%;right: 16%;display: block; padding: 2%;"
    onclick="logout();"
    id="logoutBtn"
>
    Logout
</button>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{asset('js/html.js')}}"></script>
{% endblock %}
